<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/student" class="nav-link">Student</a></li>
        <li><a href="/add-student" class="nav-link">Add Student</a></li>
        <li><a href="/students" class="nav-link">Students</a></li>
    </ul>
</nav>
<h1>Home</h1>
</body>
</html>
